/* general styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: sans-serif;
}

body {
    position: relative;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 25px;
    line-height: 1;
    padding: 25px 10px;
    width: 100%;
    text-align: center;
}

.wrapper {
    min-height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.main-content {
    padding: 20px;
}

/* table styles */
.table {
    margin-bottom: 15px;
}

.poster-cell {
    width: 75px;
    padding: 0.25em 0.25em !important;
}

.poster-cell div {
    display: flex;
}

.show-name {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.show-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.show-rate,
.show-votes-count {
    font-size: 14px;
    font-weight: 100;
}

/* pagination styles */
.pagination-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-current {
    border-radius: 4px;
    border: 1px solid #dbdbdb;
}

.nav-btns-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-btns-wrap .pagination-previous {
    order: 1;
}

.nav-btns-wrap .pagination-next {
    order: 3;
}

.nav-btns-wrap .pagination-current {
    order: 2;
    padding-left: 0.75em;
    padding-right: 0.75em;
    height: 2.25em;
    text-align: center;
    font-size: 1em;
    margin: 0.25rem;
    width: 100px;
}

.nav-btns-wrap .pagination-current:focus {
    outline: none;
}

.loader-wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, .9);
}

/* single show page styles */
.single-show-content {
    display: none;
    flex-direction: column;
}

.top-container .details {
    font-weight: 100;
}

.top-container .details span {
    font-weight: 400;
}

.poster-container {
    margin-right: 20px;
    padding-left: 10px;
}

.details-container {
    padding-right: 10px;
}

.details-container .single-show-name {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.seasons-table .poster-cell {
    width: 30px;
}

.episodes-table .poster-cell {
    width: 55px;
}

.table-wrapper {
    padding: 10px;
}

.image {
    height: auto;
    width: 175px;
}

.season-name,
.episode-name {
    font-size: 14px;
    font-weight: 400;
    color: #000000bd;
    text-decoration: none;
    cursor: pointer;
}

.season-name:hover,
.episode-name:hover {
    text-decoration: underline;
}

.season-content {
    flex-direction: column;
}